.App > h1 {
  margin-bottom: .75rem;
  padding: .5rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  background-image: linear-gradient(to right, hsla(30, 90%, 85%, 1), 10em, hsla(30, 90%, 85%, 0) );
  color: hsl(0, 100%, 10%);
  box-shadow: 0px 0px 5px hsl(30, 90%, 10%);
}

.App > nav > select {
  background-color: hsla(30, 60%, 95%, .8);
  color: hsl(0, 100%, 10%);
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-bottom: .5rem;
  padding: .3rem;
  width: 30%;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 5px -2px hsl(30, 90%, 10%);
}

.App > nav > button {
  background-color: hsla(30, 60%, 95%, .8);
  color: hsl(0, 100%, 10%);
  font-size: 1rem;
  margin-bottom: .5rem;
  padding: .3rem;
  width: 7.5%;
  border: none;
  border-radius: 6px;
  margin-left: .5rem;
  box-shadow: 2px 2px 5px -2px hsl(30, 90%, 10%);
}


.character-container {
  width: 90%;
  height: 80vh;
  margin-left: 5%;
  padding: .5rem;
  box-shadow: 0px 0px 10px -5px hsl(30, 90%, 10%);
  border-radius: 6px;
  display: flex;
  flex: row wrap;
}

.character-sheet {
  width: 100%;
}

.basic-information {
  color: hsl(0, 100%, 10%);
  background-color: hsla(30, 60%, 95%, .8);
  width: auto;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-gap: 3px;
  grid-auto-rows: minmax(25px, auto);
  padding: .5rem;
  box-shadow: 2px 2px 5px -2px hsl(30, 90%, 10%);
  border-radius: 6px;
  margin: none; 
  margin-bottom: 1rem;
}

.basic-information > div {
  font-size: .5rem;
  margin-bottom: .2rem;
}

.basic-information > div > p {
  font-size: 1rem;
  background-color: hsla(30, 20%, 95%, 1);
  padding: .4rem;
  border: 1px solid hsl(30, 90%, 10%);
  border-radius: 4px;
  line-height: 1.1em;
}

.basic-information > div > input {
  font-size: 1rem;
  color: hsl(0, 50%, 40%);
  font-family: inherit;
  background-color: hsla(30, 20%, 95%, 1);
  padding: .4rem;
  border: 1px solid hsl(0, 50%, 40%);
  border-radius: 4px;
  line-height: 1.1em;
  width: 90%;
}

.ability-scores {
  color: hsl(0, 100%, 10%);
  background-color: hsla(30, 60%, 95%, .8);
  width: min-content;
  padding: .5rem;
  box-shadow: 2px 2px 5px -2px hsl(30, 90%, 10%);
  border-radius: 6px;
  margin: none; 
}

.ability-scores > h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: .5rem;
}

.display-ability-scores {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 3px;
  grid-auto-rows: minmax(25px, auto);
  box-shadow: 0px 0px 10px -5px hsl(30, 90%, 10%);
  padding: .5rem;
  border-radius: 6px;
}

.display-ability-scores :nth-child(1) { order: 1; }
.display-ability-scores :nth-child(2) { order: 3; }
.display-ability-scores :nth-child(3) { order: 5; }
.display-ability-scores :nth-child(4) { order: 2; }
.display-ability-scores :nth-child(5) { order: 4; }
.display-ability-scores :nth-child(6) { order: 6; }

.score-container {
  display: flex;
  justify-content: space-between;
  padding-left: .5rem;
  padding-right: .5rem; 
}

.score-container > .modifier {
  display: inherit;
  font-size: 1.5rem;
}

.score-container > .modifier > p {
  font-size: 1rem;
  padding-left: .25rem;
  margin-right: .5rem;
  margin-top: .5rem;
  text-align: left;
}

.score-container > .modifier > p > span {
  font-size: .5rem;
}

.score-container > .ability-score {
  display: inherit;
  font-size: 1.5rem;
  justify-content: center;
  align-content: center;
}

.score-container > .ability-score > p {
  font-size: .6rem;
  height: 1rem;
  padding-right: .25rem;
  margin-top: .5rem; 
  text-align: right;
}

.score-container > .ability-score > p > span {
  font-size: .5rem;
}

.display-total {
  font-size: 2rem;
  background-color: hsla(30, 20%, 95%, 1);
  padding: .25rem;
  width: 2.5rem;
  text-align: center;
  border: 1px solid hsl(30, 90%, 10%);
  border-radius: 4px;
}

input.display-total {
  color: hsl(0, 50%, 40%);
  font-family: inherit;
  background-color: hsla(30, 20%, 95%, 1);
  padding: .25rem;
  border: 1px solid hsl(0, 50%, 40%);
  border-radius: 4px;
  line-height: 1.1em;
  width: 2.5rem;
}