.App > h1 {
  margin-bottom: .75rem;
  padding: .5rem;
  padding-left: 1.5rem;
  font-size: 2rem;
  background-image: linear-gradient(to right, hsla(30, 90%, 85%, 1), 10em, hsla(30, 90%, 85%, 0) );
  color: hsl(0, 100%, 10%);
  box-shadow: 0px 0px 5px hsl(30, 90%, 10%);
}

.App > nav > select {
  background-color: hsla(30, 60%, 95%, .8);
  color: hsl(0, 100%, 10%);
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-bottom: .5rem;
  padding: .3rem;
  width: 30%;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 5px -2px hsl(30, 90%, 10%);
}

.App > nav > button {
  background-color: hsla(30, 60%, 95%, .8);
  color: hsl(0, 100%, 10%);
  font-size: 1rem;
  margin-bottom: .5rem;
  padding: .3rem;
  width: 7.5%;
  border: none;
  border-radius: 6px;
  margin-left: .5rem;
  box-shadow: 2px 2px 5px -2px hsl(30, 90%, 10%);
}


.character-container {
  width: 90%;
  height: 80vh;
  margin-left: 5%;
  padding: .5rem;
  box-shadow: 0px 0px 10px -5px hsl(30, 90%, 10%);
  border-radius: 6px;
  display: flex;
  flex: row wrap;
}

.character-sheet {
  width: 100%;
}

.basic-information {
  color: hsl(30, 90%, 10%);
  background-color: hsla(30, 60%, 95%, .8);
  width: auto;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-gap: 3px;
  grid-auto-rows: minmax(25px, auto);
  padding: .5rem;
  box-shadow: 2px 2px 5px -2px hsl(30, 90%, 10%);
  border-radius: 6px;
  margin: none; 
}

.basic-information > div {
  font-size: .5rem;
  margin-bottom: .2rem;
}

.basic-information > div > p {
  font-size: 1rem;
  background-color: hsla(30, 20%, 95%, 1);
  padding: .4rem;
  border: 1px solid hsl(30, 90%, 10%);
  border-radius: 4px;
  line-height: 1.1em;
}